.navbar-inverse {
    background-color: #2a6496;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #2a6496;
    /*background-color: #5bc0de;*/
}

.navbar-inverse .navbar-nav > .active > a:active,
.navbar-inverse .navbar-nav > .active > a:visited,
.navbar-inverse .navbar-nav > .active > a:link,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:default {
    color: #fff;
    background-color: #2a6496;
}
